.notification {
    padding-right: 1.5rem;
}

.title, .subtitle {
    text-align: center;
}

.subtitle:not(:last-child) {
    margin-bottom: .6rem;
}

span.tag {
    margin-right: .5rem;
}

span.tag:last-child {
    margin-right: 0;
}

.is-5, .is-6 {
    text-shadow: .9px .8px 0 #000;
}